body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3989C8;
}

#mcanvas {
  width: 100%;
  height: 100%;
  z-index: 10;
}

#canvasContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
}

#content{
  height: auto;
}

section#view1,
section#view2,
section#view3,
section#view4 {
  position: relative
}

#content section {
  display: flex;
  width: 100%;
  height: 100vh;
  color: white;
}

/* Tyography */

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.section-1 > div {
  height: 100vh;
  justify-content: center;
}

.section-1 h1 {
  font-size: 8em;
  line-height: unset; 
  z-index: -10;
}

.section-1 p {
  justify-content: end;
  margin-top: 20%;
  z-index: 100;
}

/* Annotations */

.annotation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  width: 200px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  font-size: 12px;
  line-height: 1.2;
  transition: opacity 0.5s ease-in-out;
}

.annotationhide {
  opacity: 0;
  background-color: transparent;
}

.annotationtext {
  opacity: 0;
}

.annotation::before {
  content: "1";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s;
}

#number {
  position: absolute;
  z-index: -1;
}

.fade-text {
  opacity: 1;
}

/* Components */

.accordion {
  position: absolute;
  z-index: 200;
  top: 0;
  width:100%;
}
